.media{
    display:flex;
    flex-direction: column;
    width:200px;
    padding: 5px;
    margin: 5px 0;
    border: 2px solid transparent;
    background-color: rgba(177, 170, 170, 0.3);
    border-radius: 10px;
    position: relative;
    font-family: 'Aboreto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 600ms ease;
}
.media:hover{
    background: transparent;
    border-color: rgb(177, 170, 170);
    cursor: default;
    box-shadow:0 1px 10px rgb(255, 255, 255);
}
@media(max-width:550px){
    .media{
        width:46%
    }
}
.poster {
    border-radius: 10px;
  }
  
  .title {
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 8px 0;
  }
  
  .subTitle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    padding: 0 2px;
    padding-bottom: 3px;
  }