*{
  scroll-behavior: smooth;
}
.app{
  min-height: 100vh;
  background-color: rgb(37, 37, 37);
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
} 
.pageTitle{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: 'Aboreto','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: white
}
@media (max-width:700px) {
  .app{
    padding-top:70px;
  }
  .pageTitle{
    font-size: 6.4vw;
  }
}